body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: bisque;
}
.section-main{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 2%;
}
.container {
    flex: 9;
    margin: 0 ;
    overflow: hidden;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gra;
    
}
#head{
    border-bottom: 1px solid black;
    
}


main {
    font-family: "Roboto Slab", serif;
    padding: 20px;
    background: rgba(204, 143, 94, 0.522);
    border:  1px solid none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: 40px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}
.right-contact{
    flex: 1;
}
.right-contact-over{
    width: 90%;
    position: sticky;
    top: 30%;
    float: right;
}
.right-contact-over>img{
    width: 100%;
}
.right-contact-main-over{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.right-contact-main{
    display: flex;
    flex-direction: column;
    width: 50%;
    box-shadow: 0 0 7px 0px gray;
    padding-bottom: 15%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 9%;
}
.right-contact-main>div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20%;
}
.right-contact-main>div>img{
    width: 50%;
    margin-right: 20%;
}
.right-contact-main>div>div{
    position: absolute;
    width: 0px;
    height: 35px;
    right: 50%;
    transition: width 1s;
}
.text-right-ehz{
    position: absolute;
    width: 0px;
    height: 35px;
    background-color: rgba(210, 142, 87, 0.854);
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: width 1s;
}
.text-right-ehz>a{
    position: absolute;
    font-weight: 600;
    color: darkred;
    padding: 10px 50px;
    display: none;
}
.right-email:hover .right-text-none-email{
    display: block;
    width: 130px;
}
.right-email:hover .text-right-ehz{
    display: block;
    width: 130px;
}
.right-email:hover .text-right-ehz > a{
    display: block;
}

.right-hotline:hover .right-text-none-hotline{
    display: block;
    width: 130px;
}
.right-hotline:hover .text-right-ehz{
    display: block;
    width: 130px;
}
.right-hotline:hover .text-right-ehz > a{
    display: block;
}
.right-zalo:hover .right-text-none-zalo{
    display: block;
    width: 130px;
}
.right-zalo:hover .text-right-ehz{
    display: block;
    width: 130px;
}
.right-zalo:hover .text-right-ehz > a{
    display: block;
    width: 130px;
}
.text-right-ehz:hover{
    border: 2px inset rgba(210, 142, 87, 0.854);
    background-color: white;
}
.text-right-ehz:hover > a{
    color: teal;
}

